.foooter--top-line {
  border-top: 1.5px solid #333;
  background: #1c1c1c;
  margin-bottom: 40px;
}
footer {
  width: 100%;

  .footer__wrapper {
    display: flex;
    gap: 65px;
    &--title div p:nth-child(2) {
      width: 240px;
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin: 20px 0 84px 0;
    }
    &--title p:nth-child(2) {
      width: 158px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
    &--lists {
      &-top {
        display: flex;
        gap: 109px;
        & ul li:nth-child(1) {
          color: #fff;
          font-size: 16px;
          margin-bottom: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        & ul li {
          margin-bottom: 16px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        & ul li a {
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .footer-lines {
        border: 1px solid #333;
        width: 895px;
        height: 0px;
        margin-top: 20px;
      }
      &-bottom {
        display: flex;
        gap: 44px;
        padding-top: 40px;
        margin-bottom: 40px;
        & ul li:nth-child(1) {
          color: #fff;
          font-size: 16px;
          margin-bottom: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        & ul li {
          margin-bottom: 16px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        & ul li a {
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 16px;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .social__network {
          display: flex;
          gap: 15px;
          & svg:hover {
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            scale: 1.07;
          }
        }
        .footer-scroll {
          border-radius: 100px;
          background: #299764;
          padding: 19px;
          width: 70px;
          height: 70px;
          margin-left: 183px;
          &:hover {
            border-radius: 100px;
            background: #077743;
          }
          &:active {
            border-radius: 100px;
            background: #f5f5f5;
            svg {
              path {
                fill: #000;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .foooter--top-line {
    border-top: 1.5px solid #e5e7ea;
    background: #fff;
  }
  footer {
    width: 100%;

    .footer__wrapper {
      display: block;

      &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & div p:nth-child(2) {
          width: 240px;
          color: #555;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin: 20px 0 30px 0;
        }
        & p:nth-child(2) {
          width: 158px;
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }

      &--lists {
        &-top {
          display: flex;
          gap: 110px;
          & ul li:nth-child(1) {
            color: #000;
            font-size: 16px;
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          & ul li {
            margin-bottom: 12px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          & ul li a {
            color: #555;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
              color: #000;
            }
          }
        }
        .footer-lines {
          border: 1.5px solid #e5e7ea;
          width: 794px;
          height: 0px;
          margin: 28px 0 10px 0;
        }
        &-bottom {
          display: flex;
          gap: 49px;
          margin-bottom: 30px;
          & ul li:nth-child(1) {
            color: #000;
            font-size: 16px;
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          & ul li {
            margin-bottom: 12px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          & ul li a {
            color: #555;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
              color: #000;
            }
          }
          .social__network {
            display: flex;
            gap: 15px;
            svg {
              rect {
                fill: #000;
              }
              path {
                fill: #fff;
              }
            }
            & svg:hover {
              transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
              scale: 1.07;
            }
          }
          .footer-scroll {
            border-radius: 100px;
            background: #299764;
            padding: 19px;
            width: 70px;
            height: 70px;
            margin-left: 65px;

            &:hover {
              border-radius: 100px;
              background: #077743;
            }
            &:active {
              border-radius: 100px;
              background: #f5f5f5;
              svg {
                path {
                  fill: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
